<div class="container text-center">
  <br>
  <h1>Create your Gossiper account</h1>
  <br>
</div>

<form class="container">
  <%= form_tag url_for(action: 'create'), method: "post" do %>
    <div class='form-row'>
      <div class="col-md-4 mb-3">
        <%= label_tag 'First name' %>
        <%= text_field_tag 'first_name', nil, class: 'form-control' %>
      </div>

      <div class="col-md-4 mb-3">
        <%= label_tag 'Last name' %>
        <%= text_field_tag 'last_name', nil,  class: 'form-control' %>
      </div>
    
      <div class="col-md-4 mb-3">
        <%= label_tag 'Age' %>
        <%= number_field_tag 'age', nil,  class: 'form-control' %>
      </div>

      <div class="col-md-4 mb-3">
        <%= label_tag 'City' %>
        <%= text_field_tag 'city', nil,  class: 'form-control' %>
      </div>

      <div class="col-md-8 mb-3">
        <%= label_tag 'Description' %>
        <%= text_area_tag 'description', nil,  class: 'form-control' %>
      </div>
    </div>
    
    <div class='form-row'>
      <div class="col-md-4 mb-3">
        <%= label_tag 'Email' %>
        <%= text_field_tag 'email', nil,  class: 'form-control' %>
      </div>

      <div class="col-md-4 mb-3">
        <%= label_tag 'Password' %>
        <%= password_field_tag 'password', nil,  class: 'form-control' %>
      </div>   
    </div>`
    <%= submit_tag "Submit", class: 'btn btn-primary' %>
  <% end %>
</form>